*.log
.DS_Store
.env
.env.backup
.env.production
.npmrc
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/vendor
Thumbs.db
/build
/tmp
/data/**
/docs
.php-cs-fixer.cache
composer.lock
